# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# macOS specific files
.DS_Store

# Ignore logs, coverage reports, and other temporary files
*.log
*.out
*.pid

# Local Python config files (optional)
.env
*.env

# Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Ignore coverage reports (if using coverage.py)
htmlcov/
.coverage
.cache
coverage.xml

